/* This is a comment, by the way */


p {
    font: 14px/1.5 "Times New Roman", times, serif;
    text-align: center;
    
}

#top_left{
  text-align: left;
  position: absolute;
  top: 0px;
  line-height: 40px;
  padding: 10px;
  
}

#top_right{
  
  float: right;
  text-align: right; 
  position: relative;
  top: 0px;
  line-height: 40px;
  padding: 10px;
  
}


.foot_left {

    text-align: left;
    position: absolute;
    bottom: 0;
    line-height: 40px;
    padding: 10px;

}


.foot_right {

    float: right;
    text-align: left;
    position: relative;
    bottom: 0;
    line-height: 620px;
    padding: 10px;

}

#centred {

  float: center;
  position: relative;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 180px;       

}


  
input[type="text"] {
    border: 2px line-height #456879;
    border-radius: 20px;
    height: 40px;
    width: 500px;
}
  
}





img {
    
}

/* unvisited link */
a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: gray;
}



